/* Файл variables.less */
/* Файл scaffolding.less */

body {
  min-width: 320px;
  margin: 0;
  padding: 0;
  font-size: 18px;
  line-height: 27px;
  font-family: "Arial", sans-serif;
  color: #f7f4f1;
  font-style: normal;
  background-color: #292929;
}

img {
  max-width: 100%;
  height: auto;
}

/* Файл mixins.less */
/* Файл outlines.less */

body {
  background: #292929 url("../img/bb-mobile.png") no-repeat 50% 0;
  background-size: 720px auto;
  min-height: 750px;
}

@media (min-width: 768px) {
  body {
    background: #292929 url("../img/bb-tablet.png") no-repeat 50% 0;
    background-size: 1178px auto;
  }
}

@media (min-width: 1200px) {
  body {
    background: #292929 url("../img/bb-desktop.png") no-repeat 50% 0;
    background-size: 1391px auto;
  }
}

.nav-mock {
  /* Временно для сетки */
  min-height: 310px;
}

@media (min-width: 768px) {
  .nav-mock {
    /* Временно для сетки */
    min-height: 70px;
  }
}

/* Файл blocks/page-header.less */

.page-header {
  display: flex;
  flex-direction: column;
}

.page-header__logo {
  height: 85px;
}

@media (min-width: 768px) {
  /* второй вариант изменения последовательности блоков */
  /* .page-header { */
    /* flex-direction: column-reverse; */
  /* } */
  
  .page-header__logo {
  /* первый вариант изменения последовательности блоков */
    order: 2;
    height: 400px;
  }
}

@media (min-width: 1200px) {
  .page-header__logo {
    height: 648px;
  }
}

.page-header,
.page-header__logo {
  outline: none;
  background: transparent;
}

.page-header::before,
.page-header__logo::before {
  display: none;
}

.page-header__logo {
  background: rgba(255, 255, 255, 0.5);
}
